
@font-face {
    font-family: 'museo700';
    src: url('fonts/MuseoSans_700.eot');
    src: url('fonts/MuseoSans_700.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans_700.woff') format('woff'),
         url('fonts/MuseoSans_700.ttf') format('truetype'),
         url('fonts/MuseoSans_700.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'museo300';
    src: url('fonts/Museo300-Regular.eot');
    src: url('fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo300-Regular.woff') format('woff'),
         url('fonts/Museo300-Regular.ttf') format('truetype'),
         url('fonts/Museo300-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background:#33bab0!important;    
}



body{ 
    background:#33bab0!important;
    font: museo700;
    border-radius:0px!important;
    -webkit-box-shadow: none!important; 

}

#zero {
    

        -webkit-transform:translate3d(0,0,0);
  
}


  #scroller-view .scroller-content 
{
        overflow: hidden;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.km-android .km-view {
    -moz-box-direction: initial;
    -webkit-box-direction: initial;
    -ms-box-direction: initial;
    box-direction: initial;
    
}

.km-ios .km-view {
    -moz-box-direction: initial;
    -webkit-box-direction: initial;
    -ms-box-direction: initial;
    box-direction: initial;
}


.km-android .km-view .km-content {
    background-color: #fff;
    color: rgb(51, 51, 51);
    height:100%;
}

.km-ios .km-view .km-content {
    background-color: #fff;
    color: rgb(51, 51, 51);
    height:100%;
}

.km-scroll-container {
     height:100%;
    /*/-webkit-transform: translate3d(0px, 0px, 0px) scale(1)!important;/*/

}

.disablescroll > .km-content >.km-scroll-container {
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1)!important;  
}



.km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(51, 51, 51);
}

.km-ios .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(51, 51, 51);
}

.km-android .km-view .km-navbar {
    background-color:#fff;
}

.km-ios.km-view .km-navbar {
    background-color:#fff;
}


.km-android .km-view .km-navbar .km-button .km-text {
    color: rgb(51, 51, 51);
    border:0px!important;
}

.km-ios .km-view .km-navbar .km-button .km-text {
    color: rgb(51, 51, 51);
    border:0px!important;
}

.km-text {
    color: #fff;
    border:0px!important;
    font-size:20px!important;
    float:none!important;
}

.km-icon {
color: #33B5E5;
display:none!important;
}
    
.km-android .km-listview .km-list {
    border-top-color: rgb(153, 153, 153);
}

.km-ios .km-listview .km-list {
    border-top-color: rgb(153, 153, 153);
}

.km-android .km-view .km-content .km-list > li {
    border-color: rgb(153, 153, 153);
}

.km-ios .km-view .km-content .km-list > li {
    border-color: rgb(153, 153, 153);
}

.km-android .km-view .km-content .km-listgroup .km-group-title .km-text {
    color: #333;
}

.km-ios .km-view .km-content .km-listgroup .km-group-title .km-text {
    color: #333;
}

.km-android .km-view .km-content .km-list > li .km-switch .km-switch-container {
    background-color: #b2b2b2;
}

.km-ios .km-view .km-content .km-list > li .km-switch .km-switch-container {
    background-color: #b2b2b2;
}

.km-phone .km-ios .km-tabstrip .km-button {
width: 50%!important;
}



.modalclose span {
    color:#000!important;
}

.modalclose {
position: absolute!important;
top: 4px!important;
right:6px!important;
color:#33BAB0!important;
}

.modalclose span {

color:#33BAB0!important;
    padding:8px;
}

.modalinfo { 
width:100%;
height:100%;
}

 @media screen and (orientation:portrait) {
.modalinfo .km-content {
    
    background:url(img/information.svg), #fff!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
    background-size:100% auto!important;
    height: auto!important;
    width:100%!important;
}
}

 @media screen and (orientation:landscape) {
.modalinfo .km-content {
    
    background:url(img/information.svg), #fff!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
    background-size:auto 100%!important;
    height: 100%!important;
    width:auto!important;
}
}

.km-android .km-tabstrip .km-button:active, .km-android .km-tabstrip .km-button:hover, .km-android .km-tabstrip .km-state-active {
color: white;
border-bottom-width: 0;
padding: .1em .3em .4em;
box-shadow: none;
-webkit-box-shadow: none;
border-color: transparent;
}

.km-ios .km-button {
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
padding: 0px;
border: 0px solid transparent;
border-color: transparent;

}

.km-ios .km-tabstrip .km-button:active, .km-ios .km-tabstrip .km-button:hover, .km-ios .km-tabstrip .km-state-active {
color: white;
border-bottom-width: 0;
padding: .1em .3em .4em;
box-shadow: none;
-webkit-box-shadow: none;
border-color: transparent;
}


.km-android .km-tabstrip .km-button {
background: #fff;
display: table-cell;
font-size: .8em;
padding: .5em 0 .4em 0;
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-style: solid;
border-color: transparent;
border-width: 0;
background-clip: padding-box;
min-width: 5em;
width:50%;
}

.km-ios .km-tabstrip .km-button {
background: #fff;
display: table-cell;
font-size: .8em;
padding: .5em 0 .4em 0;
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-style: solid;
border-color: transparent;
border-width: 0;
background-clip: padding-box;
min-width: 5em;
width:50%;
}

.km-android, .km-android .km-content {
background: #fff;
}

.km-ios, .km-ios .km-content {
background: #fff;
}

.km-android {
background: #fff;
}


.km-ios {
background: #fff;
}


.backtop {
width: 100%;
height: 50%;
background: -webkit-linear-gradient(top, #fdfdfd 0%,#d2d5d7 100%);
opacity: 0.8;

}
.backbottom {
width: 100%;
height: 51%;
background: #00a99d;
opacity: 0.8;

}

.handback {
top: 0;
width: 100%;
height: 100%;
position: absolute;
background: url(img/handback2.jpg);
background-position: bottom center;
background-size: auto 90%;
background-repeat: no-repeat;
z-index: -1;

}

.logo {
top: 0;
width: 100%;
height: 100%;
background: url(img/logo.svg);
background-repeat: no-repeat;
background-position: center 50%;
background-size: auto 25%;
bottom: 0px;
position: absolute;
z-index: 999; 
  
  
}

.man_btn {
    background: url(img/man_btn.svg)!important;
    z-index: 999;
    position: absolute;
    top: 70%;
    height: 20%;
    width: 50%;
    background-size: auto 100%!important;
    background-position: right!important;
    background-repeat: no-repeat!important;

}


.man_btn a span {
color: transparent!important;
font-size:0px!important;
 }


.woman_btn {
background: url(img/woman_btn.svg)!important;
z-index: 999;
position: absolute;
top: 70%;
right:0;
height: 20%;
width: 50%;
background-size: auto 100%!important;
background-position: left!important;
background-repeat: no-repeat!important;
border-radius:0px!important;

}


.woman_btn a span {
color: transparent!important;
font-size:0px!important;
        border-radius:0px!important;
 }





.btnclickstop {
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
    z-index:9999;
}



.contentback_idadeossea {
	background: #000;
    width:100%;
    height:100%;
    display:block!important;
 
    }

.contentback_idadeossea2 {
	background: #000;
    width:100%;
    height:100%;
    display:block!important;
  
    }

.idadeosseaback  .km-content {
background-color: #000!important;
color: #333;
height: 100%;
}


.km-android .km-tabstrip .km-text {
    font-size: 18px!important;
    font-family: museo700;
    text-transform: uppercase!important;
    text-shadow: 1px -1px #013020;
 }

.km-ios .km-tabstrip .km-text {
    font-size: 18px!important;
    font-family: museo700;
    text-transform: uppercase!important;
    text-shadow: 1px -1px #013020;
 }


.km-android .km-tabstrip {
display: table;
padding: 0;
background: transparent;
background-clip: padding-box;
border-bottom: 0px solid rgba(255, 255, 255, 0.4);
}

.km-ios .km-tabstrip {
display: table;
padding: 0;
background: transparent;
background-clip: padding-box;
border-bottom: 0px solid rgba(255, 255, 255, 0.4);
}

.km-ios .km-button:active, .km-ios .km-button:hover, .km-ios .km-button.km-state-active {
box-shadow:0!important;
-webkit-box-shadow: 0!important;
}

.km-ios .km-tabstrip {
padding: 0!important;
border-top: 0px!important;
background-color: transparent!important;
background-image: transparent!important;
box-shadow: 0!important;
-webkit-box-shadow: 0!important;
text-shadow: none;
}



.km-ios .km-back::after {
content: " a0";
display: none;
position: absolute;
left: 1em;
top: 0;
bottom: 0;
width: 12px;
background: transparent;
-webkit-background-size: auto 100%;
background-size: auto 100%;
background-repeat: no-repeat;
}


.km-ios .km-button {
text-align: center;
border-width: 0;
border-bottom: 0px;
margin-left: -2px!Important;
box-shadow:none!important;
-webkit-box-shadow:none!important;
}



.km-root .km-ios6 .km-tabstrip {
border-spacing: 0px 0px!important;
padding: 0;
}

.km-root .km-android .km-tabstrip {
border-spacing: 0px 0px!important;
padding: 0;
    margin-right:10px;
}


.btn_background {
	background: -webkit-linear-gradient(top, #04b37c 0%,#006159 100%)!important;
    
}


.male {
	background: url(img/male.svg) center 20%  no-repeat, url(img/fundobtn.png)no-repeat!important;
    background-size: auto 50%, auto auto;
}


.female {
	background: url(img/female.svg) center 20%  no-repeat, url(img/fundobtn.png)no-repeat!important;
    background-size: auto 50%, auto auto;
    border-left: 1px solid #a3a3a3!important;
}

.idadeossea {
	background: url(img/idadeossea.svg) center 20%  no-repeat, url(img/fundobtn.png)no-repeat!important;
    background-size: auto 50%, auto auto;
   
}


.idade_container {
    width:100%;
    padding-top:12px;
    padding-bottom:12px;
    background:#ccc;
    position:absolute;
    bottom:0px;
    text-align:center;
    font-size:25px;
    text-decoration:none;
    
    
}




.titulo {
	height:44px;
	color:#008c93;
	font-size:25px;
	font-family: museo700;
	margin: 0px auto;
	width: 170px;
	padding-top: 9px;
    text-align:center;
}

.titulo_white {
    height:44px;
	color:#fff;
	font-size:25px;
	font-family: museo700!important;
	margin: 0px auto;
	width: 170px;
	padding-top: 9px;
    text-align:center; 
    opacity:0.4;
}

.titulo_white span{
    font-family: museo300!important;
    font-weight:normal!important;
 }

.btn_info {
	background: url(img/btn_info_green.svg)!important;
	width: 45px;
	height: 44px;
	float: right;
	display: inline!important;
	margin-right: 8px!important;
	margin-top: -53px!Important;		
}

.btn_info_white {
	background: url(img/btn_info_green.svg)!important;
	width: 45px;
	height: 44px;
	float: left;
	display: inline!important;
	margin-right: 8px!important;
	margin-top: -53px!Important;		
}

.btn_info_white_home {
	background: url(img/btn_info_green.svg)!important;
	width: 45px;
	height: 44px;
	position:absolute;
    right:0%;
    top:0px;
    z-index:999999!important;
}


.btn_show_male{
	background: url(img/show_male.svg);
	width: 45px;
	height: 44px;
	float: left;
	display: inline!important;
	margin-right: 8px!important;
	margin-top: -46px!Important;
    opacity:0.4;
}

.show_male{
	background: url(img/show_male.svg);
	width: 45px;
	height: 44px;
	float: left;
	display: inline!important;		
}

.btn_show_female{
	background: url(img/show_female.svg);
	width: 45px;
	height: 44px;
	float: left;
	display: inline!important;
	margin-right: 8px!important;
	margin-top: -46px!Important;
    opacity:0.4;
}




.btn_back {
	background:url(img/btn_seta.svg)!important;
	width:45px;
	height:44px;
	float:left;
	display:inline;
	margin-top: 0px;
	margin-left: 0px;
        border-radius:0px!important;
    -webkit-box-shadow: none!important;
-moz-box-shadow: none!important;
box-shadow: none!important;
}




.btn_back_white {
	background:url(img/btn_close.svg)!important;
	width:45px;
	height:44px;
	float:right;
	display:inline;
	margin-top: 0px;
	margin-left: 0px;
    border-radius:0px!important
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    
}

.btn_back_white:hover {
     opacity:0.6;
	-webkit-backface-visibility: hidden!important;

    }


.btn_back_gray {
	background:url(img/btn_close_gray.svg)!important;
	width:45px;
	height:44px;
	float:right;
	display:inline;
	margin-top: 0px;
	margin-left: 0px;
    border-radius:0px!important
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    z-index:999999!important;
	background-repeat:no-repeat!important;
	background-position:center center!important;
    background-size:100% 100%!important;
    
}

.btn_back_gray:hover {
     opacity:0.6;
	-webkit-backface-visibility: hidden!important;

    }

.km-android .km-navbar, .km-android .km-toolbar, .km-android .km-button, .km-android .km-switch, .km-android .km-buttongroup, .km-android .km-tabstrip {
color: white;
text-shadow: none;

}

.km-ios .km-navbar, .km-ios .km-toolbar, .km-ios .km-button, .km-ios .km-switch, .km-ios .km-buttongroup, .km-ios .km-tabstrip {
color: white;
text-shadow: none;

}

.km-android .km-button {
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
padding: 0px;
border: 0px solid transparent;
border-color:transparent;
}

.km-ios .km-button {
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
padding: 0px;
border: 0px solid transparent;
border-color:transparent;
}

.i-txt {
-webkit-box-shadow: none!important;
-moz-box-shadow: none!important;
box-shadow: none!important;
z-index:2!important;
color: #000!important;
border: 0px!important;
text-align: center;
width: 100%;
padding-bottom: 5px;
padding-top: 5px;
padding-left:0px!important;
padding-right:0px!important; 
font-weight: bold;
font-size: 24px;
text-transform: uppercase;
position: absolute;
text-transform: uppercase;
bottom: -2px;
background:#fff!important;
border-radius:0px!important;
    -webkit-backface-visibility: hidden!important;
	-webkit-perspective:1000;
	-webkit-transform:translate3d(0,0,0);
    border-width: 0 0 0px!important;
}

.i-txt2 {
z-index:2!important
-webkit-box-shadow: none!important;
-moz-box-shadow: none!important;
box-shadow: none!important;
border-radius:0px!important;
color: #000!important;
border: 0px!important;
text-align: center;
width: 100%;
padding-bottom: 5px;
padding-top: 5px;
padding-left:0px!important;
padding-right:0px!important; 
font-weight: bold;
font-size: 24px;
text-transform: uppercase;
position: absolute;
text-transform: uppercase;
bottom: -2px;
background:#fff!important;
        -webkit-backface-visibility: hidden!important;
	-webkit-perspective:1000;
	-webkit-transform:translate3d(0,0,0);
     border-width: 0 0 0px!important;
}


.km-ios :-webkit-any(.km-back) {
    -webkit-mask-image:none!important;
    }

.km-ios .km-toolbar, .km-ios .km-navbar, .km-ios .km-button, .km-ios .km-tabstrip, .km-ios .km-popup .k-item, .km-ios .km-actionsheet>li>a {
   
  background-image: transparent!important; 
    
}





.dwv {
    
    display:none;
}


.creditos {
    position:absolute;
    padding:10px;
    top:50%;
    left:50%;
    z-index:9999;
    
}


.km-touch-scrollbar {
    display:none;
}

 @media screen and (orientation:portrait) {
    #boys_8meses .km-scroll-container {
    background:url(img/boys/8meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 70%!important;
    padding-bottom:20px;
} 
 }

 @media screen and (orientation:landscape) {
   #boys_8meses .km-scroll-container {
    background:url(img/boys/8meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%!important;
}  
 }



 @media screen and (orientation:portrait) {
  #boys_10meses .km-scroll-container {
    background:url(img/boys/10meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%!important;
}   
 }

 @media screen and (orientation:landscape) {
  #boys_10meses .km-scroll-container {
    background:url(img/boys/10meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%!important;
}   
 }


 @media screen and (orientation:portrait) {
    #boys_1ano .km-scroll-container {
    background:url(img/boys/1ano.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 63%!important;
} 
 }

 @media screen and (orientation:landscape) {
    #boys_1ano .km-scroll-container {
    background:url(img/boys/1ano.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 80%!important;
}  
 }

 @media screen and (orientation:portrait) {
    #boys_14meses .km-scroll-container {
    background:url(img/boys/14meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
} 
 }

 @media screen and (orientation:landscape) {
    #boys_14meses .km-scroll-container {
    background:url(img/boys/14meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 75%!important;
} 
 }

 @media screen and (orientation:portrait) {
    #boys_16meses .km-scroll-container {
    background:url(img/boys/16meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 78%!important;
} 
 }

 @media screen and (orientation:landscape) {
    #boys_16meses .km-scroll-container {
    background:url(img/boys/16meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 78%!important;
}   
 }

 @media screen and (orientation:portrait) {
    #boys_18meses .km-scroll-container {
    background:url(img/boys/18meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 74%!important;
} 
 }

 @media screen and (orientation:landscape) {
      #boys_18meses .km-scroll-container {
    background:url(img/boys/18meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 76%!important;
}    
 }


 @media screen and (orientation:portrait) {
  #boys_20meses .km-scroll-container {
    background:url(img/boys/20meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}   
 }

 @media screen and (orientation:landscape) {
    #boys_20meses .km-scroll-container {
    background:url(img/boys/20meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 76px!important;
    background-size:auto 78%!important;
}  
 }


 @media screen and (orientation:portrait) {
     #boys_2anos .km-scroll-container {
    background:url(img/boys/2anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 66%!important;
}
 }

 @media screen and (orientation:landscape) {
    #boys_2anos .km-scroll-container {
    background:url(img/boys/2anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 76%!important;
} 
 }


 @media screen and (orientation:portrait) {
    #boys_28meses .km-scroll-container {
    background:url(img/boys/28meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 68%!important;
} 
 }

 @media screen and (orientation:landscape) {
    #boys_28meses .km-scroll-container {
    background:url(img/boys/28meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 78%!important;
}    
 }

 @media screen and (orientation:portrait) {
    #boys_30meses .km-scroll-container {
    background:url(img/boys/30meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 70%!important;
} 
 }

 @media screen and (orientation:landscape) {
    #boys_30meses .km-scroll-container {
    background:url(img/boys/30meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 76%!important;
}    
 }



 @media screen and (orientation:portrait) {
  #boys_3anos .km-scroll-container {
    background:url(img/boys/3anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 78%!important;
}   
 }

 @media screen and (orientation:landscape) {
    #boys_3anos .km-scroll-container {
    background:url(img/boys/3anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 78%!important;
}    
 }

 @media screen and (orientation:portrait) {
   #boys_3anose6meses .km-scroll-container {
    background:url(img/boys/3anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 72%!important;
}  
 }

 @media screen and (orientation:landscape) {
    #boys_3anose6meses .km-scroll-container {
    background:url(img/boys/3anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 82px!important;
    background-size:auto 74%!important;
}      
 }


 @media screen and (orientation:portrait) {
   #boys_4anos .km-scroll-container {
    background:url(img/boys/4anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 66%!important;
}  
 }

 @media screen and (orientation:landscape) {
    #boys_4anos .km-scroll-container {
    background:url(img/boys/4anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 74%!important;
}    
 }

 @media screen and (orientation:portrait) {
  #boys_4anose6meses .km-scroll-container {
    background:url(img/boys/4anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 74%!important;
}   
 }

 @media screen and (orientation:landscape) {
   #boys_4anose6meses .km-scroll-container {
    background:url(img/boys/4anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 78%!important;
}  
 }

 @media screen and (orientation:portrait) {
    #boys_5anos .km-scroll-container {
    background:url(img/boys/5anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 76px!important;
    background-size:auto 70%!important;
} 
 }

 @media screen and (orientation:landscape) {
   #boys_5anos .km-scroll-container {
    background:url(img/boys/5anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 76%!important;
}  
 }


 @media screen and (orientation:portrait) {
  #boys_5anose6meses .km-scroll-container {
    background:url(img/boys/5anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 66%!important;
}  
 }

 @media screen and (orientation:landscape) {
  #boys_5anose6meses .km-scroll-container {
    background:url(img/boys/5anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 76%!important;
}   
 }

 @media screen and (orientation:portrait) {
   #boys_6anos .km-scroll-container {
    background:url(img/boys/6anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}  
 }

 @media screen and (orientation:landscape) {
   #boys_6anos .km-scroll-container {
    background:url(img/boys/6anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}  
 }

 @media screen and (orientation:portrait) {
    #boys_7anos .km-scroll-container {
    background:url(img/boys/7anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 72%!important;
} 
 }

 @media screen and (orientation:landscape) {
  #boys_7anos .km-scroll-container {
    background:url(img/boys/7anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}   
 }


 @media screen and (orientation:portrait) {
#boys_8anos .km-scroll-container {
    background:url(img/boys/8anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 70%!important;
}     
 }

 @media screen and (orientation:landscape) {
 #boys_8anos .km-scroll-container {
    background:url(img/boys/8anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 68px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
  #boys_9anos .km-scroll-container {
    background:url(img/boys/9anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}   
 }

 @media screen and (orientation:landscape) {
 #boys_9anos .km-scroll-container {
    background:url(img/boys/9anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 70px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
  #boys_10anos .km-scroll-container {
    background:url(img/boys/10anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}   
 }

 @media screen and (orientation:landscape) {
  #boys_10anos .km-scroll-container {
    background:url(img/boys/10anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 74%!important;
}   
 }


 @media screen and (orientation:portrait) {
  #boys_11anos .km-scroll-container {
    background:url(img/boys/11anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 76px!important;
    background-size:auto 74%!important;
}   
 }

 @media screen and (orientation:landscape) {
 #boys_11anos .km-scroll-container {
    background:url(img/boys/11anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 76px!important;
    background-size:auto 76%!important;
}    
 }

 @media screen and (orientation:portrait) {
 #boys_12anos .km-scroll-container {
    background:url(img/boys/12anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #boys_12anos .km-scroll-container {
    background:url(img/boys/12anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 76px!important;
    background-size:auto 76%!important;
}    
 }


 @media screen and (orientation:portrait) {
#boys_13anos .km-scroll-container {
    background:url(img/boys/13anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 84px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
#boys_13anos .km-scroll-container {
    background:url(img/boys/13anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 76%!important;
}     
 }


 @media screen and (orientation:portrait) {
#boys_14anos .km-scroll-container {
    background:url(img/boys/14anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
#boys_14anos .km-scroll-container {
    background:url(img/boys/14anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 78%!important;
}     
 }

 @media screen and (orientation:portrait) {
 #boys_15anos .km-scroll-container {
    background:url(img/boys/15anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #boys_15anos .km-scroll-container {
    background:url(img/boys/15anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 76%!important;
}    
 }

 @media screen and (orientation:portrait) {
 #boys_16anos .km-scroll-container {
    background:url(img/boys/16anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
#boys_16anos .km-scroll-container {
    background:url(img/boys/16anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }


 @media screen and (orientation:portrait) {
#boys_17anos .km-scroll-container {
    background:url(img/boys/17anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
#boys_17anos .km-scroll-container {
    background:url(img/boys/17anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:portrait) {
#boys_18anos .km-scroll-container {
    background:url(img/boys/18anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
 #boys_18anos .km-scroll-container {
    background:url(img/boys/18anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }
 













 @media screen and (orientation:portrait) {
#girls_8meses .km-scroll-container {
    background:url(img/girls/8meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 80px!important;
    background-size:auto 70%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_8meses .km-scroll-container {
    background:url(img/girls/8meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 76px!important;
    background-size:auto 70%!important;
}       
 }


 @media screen and (orientation:portrait) {
#girls_10meses .km-scroll-container {
    background:url(img/girls/10meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 70%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_10meses .km-scroll-container {
    background:url(img/girls/10meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 72px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:portrait) {
#girls_1ano .km-scroll-container {
    background:url(img/girls/1ano.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 64%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_1ano .km-scroll-container {
    background:url(img/girls/1ano.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 75%!important;
}     
 }


 @media screen and (orientation:portrait) {
#girls_14meses .km-scroll-container {
    background:url(img/girls/14meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_14meses .km-scroll-container {
    background:url(img/girls/14meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:portrait) {
 #girls_16meses .km-scroll-container {
    background:url(img/girls/16meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 70%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_16meses .km-scroll-container {
    background:url(img/girls/16meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }


 @media screen and (orientation:portrait) {
#girls_18meses .km-scroll-container {
    background:url(img/girls/18meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 64%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_18meses .km-scroll-container {
    background:url(img/girls/18meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}     
 }



 @media screen and (orientation:portrait) {
     #girls_20meses .km-scroll-container {
    background:url(img/girls/20meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 70%!important; 
    } 
 }
 
@media screen and (orientation:landscape) {
#girls_20meses .km-scroll-container {
    background:url(img/girls/20meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 78%!important;
}    
    
}


 @media screen and (orientation:portrait) {
 #girls_2anos .km-scroll-container {
    background:url(img/girls/2anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_2anos .km-scroll-container {
    background:url(img/girls/2anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 78%!important;
}    
 }


 @media screen and (orientation:portrait) {
#girls_28meses .km-scroll-container {
    background:url(img/girls/28meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
 #girls_28meses .km-scroll-container {
    background:url(img/girls/28meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
#girls_30meses .km-scroll-container {
    background:url(img/girls/30meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 66%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_30meses .km-scroll-container {
    background:url(img/girls/30meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}
 }


 @media screen and (orientation:portrait) {
#girls_3anos .km-scroll-container {
    background:url(img/girls/3anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
 #girls_3anos .km-scroll-container {
    background:url(img/girls/3anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
 #girls_3anose6meses .km-scroll-container {
    background:url(img/girls/3anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_3anose6meses .km-scroll-container {
    background:url(img/girls/3anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
 #girls_4anos .km-scroll-container {
    background:url(img/girls/4anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_4anos .km-scroll-container {
    background:url(img/girls/4anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
#girls_4anose6meses .km-scroll-container {
    background:url(img/girls/4anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_4anose6meses .km-scroll-container {
    background:url(img/girls/4anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:portrait) {
 #girls_5anos .km-scroll-container {
    background:url(img/girls/5anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_5anos .km-scroll-container {
    background:url(img/girls/5anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }


 @media screen and (orientation:portrait) {
 #girls_5anose6meses .km-scroll-container {
    background:url(img/girls/5anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 64%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_5anose6meses .km-scroll-container {
    background:url(img/girls/5anose6meses.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 75%!important;
}    
 }


 @media screen and (orientation:portrait) {
#girls_6anos .km-scroll-container {
    background:url(img/girls/6anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_6anos .km-scroll-container {
    background:url(img/girls/6anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }


 @media screen and (orientation:portrait) {
#girls_7anos .km-scroll-container {
    background:url(img/girls/7anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 82px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_7anos .km-scroll-container {
    background:url(img/girls/7anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:portrait) {
 #girls_8anos .km-scroll-container {
    background:url(img/girls/8anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_8anos .km-scroll-container {
    background:url(img/girls/8anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
#girls_9anos .km-scroll-container {
    background:url(img/girls/9anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%;
}     
 }

 @media screen and (orientation:landscape) {
 #girls_9anos .km-scroll-container {
    background:url(img/girls/9anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 76%!important;
}    
 }


 @media screen and (orientation:portrait) {
#girls_10anos .km-scroll-container {
    background:url(img/girls/10anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 78px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
 #girls_10anos .km-scroll-container {
    background:url(img/girls/10anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
#girls_11anos .km-scroll-container {
    background:url(img/girls/11anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
#girls_11anos .km-scroll-container {
    background:url(img/girls/11anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 74%!important;
}     
 }

 @media screen and (orientation:portrait) {
 #girls_12anos .km-scroll-container {
    background:url(img/girls/12anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
#girls_12anos .km-scroll-container {
    background:url(img/girls/12anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:portrait) {
 #girls_13anos .km-scroll-container {
    background:url(img/girls/13anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_13anos .km-scroll-container {
    background:url(img/girls/13anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
 #girls_14anos .km-scroll-container {
    background:url(img/girls/14anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
#girls_14anos .km-scroll-container {
    background:url(img/girls/14anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}     
 }

 @media screen and (orientation:portrait) {
 #girls_15anos .km-scroll-container {
    background:url(img/girls/15anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_15anos .km-scroll-container {
    background:url(img/girls/15anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
 #girls_16anos .km-scroll-container {
    background:url(img/girls/16anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_16anos .km-scroll-container {
    background:url(img/girls/16anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }


 @media screen and (orientation:portrait) {
 #girls_17anos .km-scroll-container {
    background:url(img/girls/17anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:landscape) {
 #girls_17anos .km-scroll-container {
    background:url(img/girls/17anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 80%!important;
}    
 }

 @media screen and (orientation:portrait) {
#girls_18anos .km-scroll-container {
    background:url(img/girls/18anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 64px!important;
    background-size:auto 80%!important;
}     
 }

 @media screen and (orientation:landscape) {
 #girls_18anos .km-scroll-container {
    background:url(img/girls/18anos.jpg)!important;
	background-repeat:no-repeat!important;
	background-position:center bottom 74px!important;
    background-size:auto 76%!important;
}    
 }




.teste {
    background:#33bab0!important;
    height:100%;
    width:100%;

}

.f-dd {
    border:0px!important;
}

.km-android input[type=password], .km-android input[type=search], .km-android input[type=number], .km-android input[type=tel], .km-android input[type=url], .km-android input[type=email], .km-android input[type=text]:not(.k-input), .km-root .km-android textarea {
    outline-width: 0px!important;
    outline-style: solid;
    outline-offset: 0px!important;
    border-width: 0px!important;
    border-style: solid;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox, a {
-webkit-appearance: none!important;
border-radius: 0!important;
 border:0px!important;
   -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  
    
     -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
       -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
    
       -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
    
}


.smoothanimation {
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;    
    
}

.dwo {
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;       

       -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
    
       -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

.dw-trans .dwo {
opacity:0!important;
}

.trocamaocontainer {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; 
    
transition-delay: 0.38s;

       -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
    
       -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}







